
<form class="post-form">
  <input class="post-title" type="text" name="title" value="" placeholder="Enter post title">
  <input class="post-body" type="text" name="content" value="" placeholder="Enter post content">
  <button class="submit-post" name="submit">Submit post</button>
</form>
