
  <h3>Submit your blog post</h3>
  <input class="post-title" type="text" name="title" value="" placeholder="Enter post title">
  <textarea class= "post-content" name="content" rows="8" cols="40" placeholder="Enter post content"></textarea>
  <button class="submit-post" name="submit">Submit post</button>
