<div class=form-container-b>
  <h3>Tell us about yourself</h3>
  <input class="first-name" type="text" name="first-name" value="" placeholder="first name">
  <input class="last-name" type="text" name="last-name" value="" placeholder ="last name">
  <textarea class="address" name="address" rows="8" cols="40" placeholder="address"></textarea>
  <input class="phone-number" type="text" name="phone-number" value="" placeholder="phone number">
  <button class="submit" name="button">Submit</button>
</div>
