
<input class ="link-url" type="text" name="url" value="" placeholder="url">
<input class ="link-title" type="text" name="title" value="" placeholder="title">
<input class="link-tags" type="text" name="tag" value="" placeholder="tags">
<button class="submit-link" name="submit"></button>
