@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

/*EXERCISES A & B*/

.form-container,
.form-container-b {
  @include outer-container(1080px);
}

.post-title,
.post-content,
.submit-post,
.first-name,
.last-name,
.address,
.phone-number,
.submit {
  display: block;
  margin-top: 1em;
}


/*EXERCISE C*/

.content {
  @include outer-container(1080px);
}

.post-list-container {
  @include span-columns(4);
}

.post-container {
  @include span-columns(8);
}

.post-list-container,
.post-container {
  height: auto;
  background-color: #fff;;
  margin-top: 100px;
  border: 2px solid $medium-gray
}

  .post-list {
    padding-left: 0;
  }

    .post {
      list-style: none;
      margin: 2em 2em;
      border-bottom: 1px solid $medium-gray;
    }

      .post-title a {
        text-decoration: none;
        color: $dark-gray;
      }

      .post-date {
        font-size: 0.8em;
      }


  /*EXERCISE D*/


  .content {
    @include outer-container(1080px);
  }

  .link-list,
  .tags-list {
    @include span-columns(5.5);
    @include omega;
    height: 300px;
    background-color: #fff;
    border: 2px solid $medium-gray;
    display: inline-block;
    margin-top: 5em;
  }

  .tags-list {
    margin-right: 1em;
  }

  .link-form {
    @include span-columns(12);
    margin-top: 3em;
  }

    .link-form input,
    .link-form button {
      height: 40px;
      margin-right: 2em;
    }
